@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

hr {
	width: 32%;
	margin-bottom: 10px;
	border: none;
	color: rgba(0,0,0,0.04);
	background-color: rgba(0,0,0,0.04);
	height: 3px;
	box-shadow: 2px 13px 18px 0px rgba(0,0,0,0.2);
}

h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 18px;
	margin-bottom: 10px;
}

body {
	margin-left: 15px;
	margin-right: 15px;
	height: 100%;
}

.app {
	max-width: 1400px;
	margin: 0 auto;
}

.container {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr 1fr;
	padding-bottom: 50px;
}

.photos {
	width: 100%;
	height: auto;
	box-shadow: 2px 3px 8px rgba(0,0,0,0.4);
}

@media screen and (max-width: 1240px) {
	.container {
		grid-template-columns: 1fr 1fr;
	}

	hr {
		width: 49%;
	}
}

@media screen and (max-width: 640px) {
	.container {
		grid-template-columns: 1fr;
	}

	hr {
		width: 100%;
	}
}
